<div class="mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="announceSortChange($event)">

      <!-- id Purchase Column -->
      <ng-container matColumnDef="idPurchase">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by number"> No. </th>
          <td mat-cell *matCellDef="let element"> {{element.idPurchase}} </td>
      </ng-container>

      <!-- Purchase Date Column -->
      <ng-container matColumnDef="purchaseDate">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Purchase Date"> Purchase Date </th>
          <td mat-cell *matCellDef="let element"> {{element.purchaseDate}} </td>
      </ng-container>

      <!-- Invoice Column -->
      <ng-container matColumnDef="invoice">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Invoice"> Invoice </th>
          <td mat-cell *matCellDef="let element"> {{element.invoice}} </td>
      </ng-container>

      <!-- Customer Root Column -->
      <ng-container matColumnDef="customerRoot">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Customer Root"> Customer Root </th>
          <td mat-cell *matCellDef="let element"> {{element.customerRoot}} </td>
      </ng-container>

      <!-- Customer Leaf Column -->
      <ng-container matColumnDef="customerLeaf">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Customer Leaf"> Customer Leaf </th>
          <td mat-cell *matCellDef="let element"> {{element.customerLeaf}} </td>
      </ng-container>

      <!-- Product Column -->
      <ng-container matColumnDef="product">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Product"> Product </th>
          <td mat-cell *matCellDef="let element"> {{element.product}} </td>
      </ng-container>

      <!-- Pack Size Column -->
      <ng-container matColumnDef="packSize">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Pack Size"> Pack Size </th>
          <td mat-cell *matCellDef="let element"> {{element.packSize}} </td>
      </ng-container>

      <!-- Unit Type Column -->
      <ng-container matColumnDef="unitType">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Unit Type"> Unit Type </th>
          <td mat-cell *matCellDef="let element"> {{element.unitType}} </td>
      </ng-container>

      <!-- Category Column -->
      <ng-container matColumnDef="category">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Category"> Category </th>
          <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <!-- Distributor Root Column -->
      <ng-container matColumnDef="distributorRoot">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Distributor Root"> Distributor Root </th>
          <td mat-cell *matCellDef="let element"> {{element.distributorRoot}} </td>
      </ng-container>

      <!-- Distributor Leaf Column -->
      <ng-container matColumnDef="distributorLeaf">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Distributor Leaf"> Distributor Leaf </th>
          <td mat-cell *matCellDef="let element"> {{element.distributorLeaf}} </td>
      </ng-container>

      <!-- Manufacturer Column -->
      <ng-container matColumnDef="manufacturer">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Manufacturer"> Manufacturer </th>
          <td mat-cell *matCellDef="let element"> {{element.manufacturer}} </td>
      </ng-container>

      <!-- Quantity Column -->
      <ng-container matColumnDef="quantity">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Quantity"> Quantity </th>
          <td mat-cell *matCellDef="let element"> {{element.quantity}} </td>
      </ng-container>

      <!-- Price Column -->
      <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Price"> Price </th>
          <td mat-cell *matCellDef="let element"> $ {{element.price}} </td>
      </ng-container>

      <!-- Total Column -->
      <ng-container matColumnDef="total">
          <th mat-header-cell *matHeaderCellDef mat-sort-header sortActionDescription="Sort by Total"> Total </th>
          <td mat-cell *matCellDef="let element"> $ {{element.total}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator [pageSizeOptions]="[5, 10, 20]"></mat-paginator>
</div>
